.body {    
    font-family: Montserrat, sans-serif;
}

.hero-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    color: white;   
    background-color: #1B75BC;
    width: 50%;
    height: 400px;
    text-align: center;
    justify-content: center; /* Center horizontally */
}

.hero-image-container {
    width: 50%;
}

.hero-image-left {
    position: absolute;
    height: 400px;
    left: 14%;
}

.hero-image-right {
    position: absolute;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 80% 0%);
    z-index: 100;  
    height: 400px;
    left: 22.5%;
}

.home-about-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 2% auto;
}

.home-about-text {  
    color: #403E43;
    width: 20%;
    text-align: left;
    padding-left: 1%;
}

.divider {
    display: flex;
    height: 1px;  
    border: none;
    background-color: #1B75BC;
    margin: auto 10%;
}

.home-button {
    background-color: #1B75BC;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .home-button:hover {
    background-color: #155a8a;
  }

  .home-history-button {    
    background-color: #155a8a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .home-history-button:hover {
    background-color: #555;
  }

.home-course-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    text-align: center;
}

.home-course-grid {
    display: flex;
    gap: 5%;
    justify-content: center;
}

.home-course-card {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.home-benefit-container {
    max-width: 1200px;
    margin: 5% auto;
    padding: 0 20px;
    text-align: center;
}

.home-benefit-grid {
    display: flex;
    gap: 5%;
    justify-content: center;
}

.home-benefit-card {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #e9f6fc;
    border: 1px solid #1B75BC;
    border-radius: 10px;
}

.home-history-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.home-history-text {
    color: white;   
    background-color: #1B75BC;
    width: 20%;
    text-align: left;
    padding-left: 1%;
}

.home-opening-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    margin: 2% 20%;
}

