nav {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;    
    width: 1 vw;
}

.main-logo {
    display: flex;      
    justify-content: center;
    width: 100%;
}

.main-logo img {
    margin: 0 auto;
    display: block;
    width: 70%;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 1%;
    align-items: center;
    list-style: none;
    padding: 0 15% 0 15%
}

.nav-links a{
    text-decoration: none;
    color: #403E43;    
    padding: 10px;
    border-radius: 10px;    
     transition: background 0.3s ease, color 0.3s ease;
}

.nav-links a:hover{
    text-decoration: none;
    background-color: rgb(30, 117, 186);
    color: white;
}